.actionPanelContainer {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.actionButtonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.actionButtonWrapper {
  display: flex;
  justify-content: center;
}

.actionSliderWrapper {
  width: 100%;
}
