.baseButton {
    border: none;
    border-radius: 4px;
    padding: 12px 26px;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.1s ease;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

/* Other button styles */
.betButton {
    background: #007bff;
}

.betButton:hover {
    background: #006bdd;
}

.betButton:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.foldButton {
    background: rgb(215, 121, 121);
}

.foldButton:hover {
    background: rgb(200, 106, 106);
}

.foldButton:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}